<ScrollView (scroll)="onScroll($event)" class="home blk-txt" height="100%" backGroundColor="white">
    <StackLayout>
        <Label text="Available Trucks near you" class="h3 blk-txt text-center"></Label>
        <Card:CardView class="cardStyle">
            <StackLayout class="avail-truck" *ngFor="let truck of this.trucksService.nearbyTrucks">
                <Label [text]="truck.name"></Label>
                <Image [src]="truck.image" width="25%"></Image>
                <Label [text]="truck.rating"></Label>
            </StackLayout>
        </Card:CardView>
    </StackLayout>
</ScrollView>
