<GridLayout rows="80, 300, *" height="100%">
    <Image [src]="item.image" row="1" margin="-280 0 0 0" id="item-img"></Image>
    <ScrollView (scroll)="onScroll($event)" row="2" marginTop="-380">
        <GridLayout rows="280, *">
            <Label row="0" class="fade"></Label>
            <Label row="0" id="title" textWrap="true" class="title-menu" [text]="item.price"></Label>
            <StackLayout row="1" class="menu-list">

            </StackLayout>
        </GridLayout>
    </ScrollView>
    <Button class="close-btn btn" id="btn-back" row="0" marginTop="310" (tap)="onClose($event)"></Button>
    <Label id="abTitle" class="abTitle" [text]="item.title" marginTop="-76"></Label>
    <Label text="Special Options" class="label-title" row="1" backgroundColor="red"></Label>
    <TextView editable="true" row="1" class="instruc">
        <FormattedString>
            <Span [text]="this.spclInstructions"></Span>
        </FormattedString>
    </TextView>
    <GridLayout row="2" columns="auto, 40, auto, auto" rows="auto, auto, *" class="add-group">
        <Button (tap)="this.decrement()" row="0"  text="-" class="decrement"></Button>
        <Label row="0"  class="qty" [text]="this.quantity"></Label>
        <Button (tap)="this.increment()" row="0"  text="+" class="increment"></Button>
        <Button (tap)="this.increment()" row="0" col="4" text="Add to cart" class="add-to-cart"></Button>
        <Label class="total-price" row="1" [text]="'$' + this.total"></Label>
    </GridLayout>
</GridLayout>
