// Import app variables
@import 'app-variables';
 
// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here
.ios-text-field {
  border-radius: 5;
  height: 5%;
  width: 80%;
  margin-top: 3%;
  background: lightgray;
}

.sign-out-label {
  margin-top: 30%;
  background: darkslategray;
  border-radius: 5;
  color: white;
  border-width: 2;
  width: 40%;
  height: 7%;
  font-size: 23%;
}
.toggle-nav {
  font-size: 40%;
  color: white;
}

.truck-name {
  margin-top: -30;
  font-size: 20%;
}

.close-btn {
  margin-right: 400;
}
