// Import app variables
@import 'app-variables';
 
// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
.sign-out-label {
  margin-top: 36%;
  background: darkslategray;
  color: white;
  border-width: 2;
  width: 40%;
}

.truck-name {
  //margin-top: -30;
  font-size: 20%;
}
